
nav{
    display: flex;
    z-index: 100;
   }

header{
    background-color: white;
    position: sticky;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ebeff5;
    box-sizing: content-box;
    z-index: 1000;
    top: 0;
   }

footer {
      background-color: #f8f9fa;;
      color: rgb(0, 0, 0);
      padding: 2em 0em 2em 0em;
      height: auto;
    }

nav>a{
        display: flex;
        padding: 0px;
        margin: 0px;
        margin: 1em 1em 0em 1em;
        cursor: pointer;
        height: 30px;
        font-size: 20px;
        color: black;
        text-decoration: none;
      }

nav>a:hover{   
     border-bottom: 2px solid blue;
     color: blue;
    }
nav>a:active{   
        color: blue;
        border-bottom: 2px solid blue;
       }

.red{
    color: red;
    }

.blue{
     color: blue;
     }

.green{
    color: green;
    }

    .yellow{
        color: yellow;
        }

.param{
    font-size: 40px;
    font-weight: 400;
    line-height: 3rem;
    font-family: "Google Sans Display",Arial,Helvetica,sans-serif;
}
.bloc-para{
    width: 700px;
    border: 0px;
    text-align: center;
}

.bloc_head{
    display: flex;
}

.contener{
    position: relative;
    width:100%;
    height: auto;
    margin-right: 20px;
}

.contener-bas{
    position: relative;
    width:100%;
    height: auto;
    margin-right: 20px;
}

.contener-bas:hover{
    opacity: 2;
}

.img-e{
    position:relative;
    width: 100%;
    height: 100%;
}

.icon{
    width: 50px;
    height: 50px;
}

.cont-i{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin-bottom: 50px;
    cursor: pointer;
    opacity: 1;
    border-radius: 15px;
}

.cont-i:hover{
    box-shadow: 5px 20px 20px  rgb(124, 129, 131);
    opacity: 0.7;
}

.image-de-section2{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin-bottom: 50px;
    opacity: 0.5;
}
.image-de-section2:hover{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin-bottom: 50px;
    border-radius: 40px; 
    opacity: 1;
}
.txt{
    position: absolute;
    top: 491px;
    height: auto;
    color: black;
    left: 75px;
    z-index: 100;
}
section{
    align-items: center;
    display: flex;
    justify-content: center;
}
.cont-block{
    display: flex;
    flex-direction: column;
}
.global{
    display: flex;
    flex-direction: column;
}
.global>div{
    display: flex;
    flex-direction: row;
}
   .contenu-contener{
    margin: 0px; 
    padding: 5px;
    width: 83%;
   }
   .contenu-contener2{
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    margin: 6em;
   }
   .niv-bas{
    display: flex;
    flex-direction: row;
    width: 83%;
    height: auto;
    margin-top: 5em;
    margin-bottom: 5em;
   }
   .niv1-foot{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: 2px solid #e8eaed;
   }
   .niv2-foot{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e8eaed;
   }
   .niv3-foot{
    display: flex;
    flex-direction: row;
    justify-content: left;
   }
   .service{
            display: flex;
            flex-direction: row;
            margin: 10px;
        }